<div>
  <app-vendor-menu></app-vendor-menu>
</div>

<div class="container">
  <div class="row">
      <div class="col-2">
      </div>
      <div class="col-6">
         <h1>Merx</h1>
      </div>
      <div class="col-4">
        <br>
        <div class="content">
          <div class="content__container">
            <p class="content__container__text">
              Vendor
            </p>
            <ul class="content__container__list">
              <li class="content__container__list__item"> Hello </li>
              <li class="content__container__list__item"> Welcome </li>
              <li class="content__container__list__item"> Hi </li>
              <li class="content__container__list__item"> Hey </li>
            </ul>
            
          </div>
        </div>
                
      </div>
    
    </div>
</div>

<div>
  <app-map-vendor></app-map-vendor>
</div>
