<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <div class = "inner-cutout"> 
        <h1 class="knockout">Product templates</h1>
      </div>

      <br>
      <br>
    
      <ul *ngFor="let product of products">
          <li>
            <div class="container">
              <div class="row">
                  <div class="col-3">
                  </div>
                  <div class="col-4">
                    <a routerLink = "{{ product.route }}"> {{ product.name }} </a>
                    <span (click)="deleteTemplates()" class="fa fa-trash"></span>
                  </div>   
                  <div class="col-5">
                  </div>    
                </div> 
            </div> 
          </li>
          <router-outlet name="product"></router-outlet>
        </ul>

      </div>
      <div class="col-7">
    </div>
  </div> 
</div>
  
