<div>
  <app-vendor-menu></app-vendor-menu>
</div>
<div class="page-header title">
  <h1>Merx</h1>
</div>  
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <i class="fa fa-bars"></i>
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Product template
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <app-product-template-view></app-product-template-view>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <i class="fa fa-bars"></i>
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Display template
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <app-display-template-view></app-display-template-view>
        </div>
      </div>
    </div>
    
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <i class="fa fa-bars"></i>
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Bookmark template
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
              <app-bookmark-template></app-bookmark-template>
          </div>
        </div>
      </div>
  </div>
  

  