
<nav class="navbar row navbar-light bg-light menucolor">
  <nav class="col-8">
    <a class="navbar-brand" href="/admin"><img src="/assets/images/Home.png" alt="Home" class="home"></a>
  </nav>
  <nav class="col-3">
      <a routerLink = "/admin/vendors"><button class="btn btn-default btn-circle vendors ">Vendors</button></a>
      <button class="btn btn-default btn-circle btn-xl">
          <span class="fa fa-wrench"></span>
      </button>
      <a><button class="btn btn-default btn-circle btn-xl" data-toggle="modal" data-target="#helpModal">
        <span class="fa fa-question"></span>
      </button></a>
      <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <img src="/assets/images/Help.png" alt="Help" class="help">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-admin-help></app-admin-help>
            </div>
            <div class="modal-footer">
              <img src="/assets/images/Map.png" alt="Map" class="map">
            </div>
          </div>
        </div>
      </div>
    </nav>
  <nav class="col-1">
    <a routerLink = "/home"><button (click)="logout()" class="btn btn-primary">Log out</button></a>
  </nav>
</nav>


