<p>
    As a <u><i>vendor</i></u> you first need to complete the settings form with your information, after this you can fully have access to this application.<br>
    If you click <strong>Products</strong> button you can see your product types registered and you can add others by clicking 
    <br> "New product type" <i class=" fa fa-plus"></i>.<br>
    For the new product you need to complete all the template forms in order to could be displayed in our application. These templates can be also edited by clicking "Edit template" <span class="fa fa-edit"></span> button from the Products menu. <br>
    In the product list if you click on each product you will see the <i class="fa fa-qrcode" aria-hidden="true"></i> QR code for it. <br>
    On the map bellow the menu there are pins which indicate the location of each vendor, own places are marked with red.    
</p>
