<div class="container">
  <div class="row" >
    <div>
      <div >
        <h2>New vendor</h2>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label>Company name</label>
          <input type="text" class="form-control" formControlName="companyName">
        </div>        
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div> 
        <div class="form-group">
          <label>E-mail</label>
          <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" formControlName="email">
        </div> 

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
</div>

