<div class="container">
  <div class="row" >
    <div>
      <div >
        <h2>Bookmark template view</h2>
      </div>
<form [formGroup]="bookmarkForm" novalidate (ngSubmit)="onSubmit(bookmarkForm)">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <hr>
  <div formArrayName="elements">
    <div *ngFor="let language of bookmarkForm.controls.elements.controls; let i=index" class="panel panel-default">
      <div class="panel-body" [formGroupName]="i">
        <div class="form-group col-xs-6">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group col-xs-6">
          <label>Src</label>
          <input type="text" class="form-control" formControlName="source">
        </div>

      </div>
    </div>
  </div>

  <div>
    Add another bookmark template element
    <button (click)="addBookmarkTemplateElement()">+</button>
  </div>
    <div>
        Remove first bookmark template element
        <button (click)="removeBookmarkTemplateElement()">-</button>
    </div>
  <div class="margin-20">
    <button type="submit" (click)="sendRequest(bookmarkForm)" class="btn btn-primary pull-right" [disabled]="!bookmarkForm.valid">Submit</button>
  </div>
  <div class="clearfix"></div>

  <div class="margin-20">
  </div>
</form>
</div>
</div>
</div>
