.title { text-align: center; }
h1 {
	display: inline;
	position: relative;
	font: 100px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(100,0,255,0.5); 
}

h1:after {
	content: "Merx";
	position: absolute; left: 4px; top: 2px;
	color: rgba(205,10,12,0.5);   
}


