<div>
  <app-vendor-menu></app-vendor-menu>
</div>
<div class="page-header title">
  <h1>Merx</h1>
</div>  
<div>
  <app-list-products></app-list-products>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2">  
          <a routerLink="new-product"><button class="btn btn-primary">
            New product type
            <span class=" fa fa-plus"></span>
          </button></a>
        </div>
        <div class="col-2"> 
          <a routerLink="edit"><button class="btn btn-primary">
            Edit existing templates
            <span class="fa fa-edit"></span>
          </button></a>
        </div>
        <div class="col-6">
        </div> 
    </div>
</div>


