/* You can add global styles to this file, and also import other style files */

/*Background*/
body{

    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe270, #ffe270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#ffe270, #ffe270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



