.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: white;
    color: darkslategray;
}
.products {
    width: 140px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: white;
    color: darkslategray;
}
.menucolor{

    background: #ffa751;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffa751);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffa751); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}  

.help{
    width: 20%;
    height: 40%;
}

.map{
    width: 100%;
    height: 100%;
}

.home{
    width: 10%;
    height: 10%;
}

