<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-3.5">
      <label>
        Username:
        <input type="text" id="username" class="form-control" formControlName="username" required>
      </label>
    </div>
    <div class="col-3.5">
      <label>
        Password:
        <div class="input-group">
          <input type="password" class="form-control" formControlName="password">
          <span class="input-group-btn" style="width:0;">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
          </span>
        </div>  
      </label>
    </div>
  </div>
</form>


