<div class="container">
  <div class="row" >
    <div>
      <div >
        <h2>Product template view</h2>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <hr>
        <div formArrayName="elements">
          <div *ngFor="let language of myForm.controls.elements.controls; let i=index" class="panel panel-default">
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-6">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="form-group col-xs-6">
                <label>Type</label>
                <select class="form-control" formControlName="type">
                    <option *ngFor="let opt of options" value= {{opt.name}}>
                      {{opt.name}}
                    </option>
                  </select>
                <!--<input type="text" class="form-control" formControlName="Type">-->
              </div>
              <div class="form-group col-xs-6">
                <label>Src</label>
                <input type="text" class="form-control" formControlName="source">
              </div>
                
            </div>
          </div>
        </div>

        <div>
          Add another
          <button (click)="addLanguage()">+</button>
        </div>
        <div class="margin-20">
          <button type="submit" (click)="sendRequest(myForm)" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
        </div>
      </form>
    </div>
  </div>
</div>

