<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-6">
          <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
          <div class = "inner-cutout"> 
            <h1 class="knockout">Product list</h1>
          </div>
  
          <br>
          <br>
  
          <ul *ngFor="let product of products">
            <li>
              <div class="container">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-6">
                      <a routerLink = "{{ product.route }}"> {{ product.name }} </a>
                    </div>   
                    <div class="col-5">
                    </div>    
                  </div> 
              </div> 
            </li>
            <router-outlet name="product"></router-outlet>
          </ul>
  
        </div>
        <div class="col-5">
        </div>
    </div> 
  </div>


  