<p>
  As an <u><i>admin</i></u> you can register a new vendor by clicking the <strong>Vendors</strong> button and then the <i class="fa fa-plus" aria-hidden="true"></i> sign.<br>
  You must complete the vendor's company name, email address and give him a user name. <br>
  In the vendors list you also can see al your vendors and it's products and QR codes to them. <br>
  Near each vendor's name is a <i class="fa fa-trash" aria-hidden="true"></i> button, if you click it you will delete the specific vendor. <br>
  On the map bellow the menu there are pins which indicate the location of each vendor.
</p>
