<div>
	<div class="row">
        <div class="col">
            <div id="custom-search-input">
                <div class="input-group ">
                    <input type="text" class="form-control input-lg" placeholder="Type a place" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                          Search
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
  <div id="map" class="map"></div>
</div>

