<div>
    <app-vendor-menu></app-vendor-menu>
  </div>
  <div class="page-header title">
    <h1>Merx</h1>
  </div>  
  <div>
    <!--TO DO: Create vendor configuration form.-->
    Component missing!
  </div>


  