<div class="container">
  <div>
    <h2>Add some layouts</h2>
  </div>
  <br>
  <div class="row">
    <form [formGroup]="layoutForm" novalidate (ngSubmit)="onSubmitLayout(layoutForm)">
      <div class="form-group">
        <div class="form-group col-xs-6">
          <label>Type</label>
          <select class="form-control" name="layout" (change)="onChangeL($event)" formControlName="name">
            <option *ngFor="let l of layoutElements" value={{l.name}}>
              {{l.name}}
            </option>
          </select>
        </div>
        <div [ngSwitch]="layoutTag">
          <div *ngSwitchCase="'GridLayout'">
            <div class="form-group col-xs-6">
              <label>Row</label>
              <input type="number" class="form-control" formControlName="row">
            </div>
            <div class="form-group col-xs-6">
              <label>Column</label>
              <input type="number" class="form-control" formControlName="column">
            </div>
          </div>
          <div *ngSwitchCase="'LinearLayout'">
            <div class="form-group col-xs-6">
              <label>Mode</label>
              <select class="form-control" formControlName="mode">
                <option value="horizontal">Horizontal</option>
                <option value="vertical">Vertical</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6">
          <label>Parent Layout</label>
          <ngx-dropdown-treeview [config]="config" [items]="layouts" (selectedChange)="onSelectedChange($event)"
            (filterChange)="onFilterChange($event)">
          </ngx-dropdown-treeview>
          <!--input type="number" class="form-control" formControlName="parentLayoutId"-->
        </div>
        <div class="form-group col-xs-6">
          <div class="panel-body" formGroupName="parentLayoutParams">

          </div>
          <div [ngSwitch]="checkedItemName">
            <div *ngSwitchCase="'GridLayout'">
              <div class="panel-body" formGroupName="parentLayoutParams">
                <div class="form-group col-xs-6">
                  <label>Row</label>
                  <input type="number" class="form-control" formControlName="row">
                </div>
                <div class="form-group col-xs-6">
                  <label>Column</label>
                  <input type="number" class="form-control" formControlName="column">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-20">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!layoutForm.valid">Submit</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div>
      <div>
        <h2>Display template view</h2>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
          <hr>
          <label>Elements</label>
          <div formArrayName="elements">
            <div *ngFor="let element of myForm.controls.elements.controls; let i=index" class="panel panel-default">
              <div class="panel-body" [formGroupName]="i">
                <br>
                <div class="form-group col-xs-6">
                  <label>Parent Layout</label>
                  <ngx-dropdown-treeview [config]="config" [items]="layouts" (selectedChange)="onSelectedChange($event)"
                    (filterChange)="onFilterChange($event)">
                  </ngx-dropdown-treeview>
                </div>
                <div class="form-group col-xs-6">
                  <div class="panel-body" formGroupName="parentLayoutParams">
                  </div>
                  <div [ngSwitch]="checkedItemName">
                    <div *ngSwitchCase="'GridLayout'">
                      <div class="panel-body" formGroupName="parentLayoutParams">
                        <div class="form-group col-xs-6">
                          <label>Row</label>
                          <input type="number" class="form-control" formControlName="row">
                        </div>
                        <div class="form-group col-xs-6">
                          <label>Column</label>
                          <input type="number" class="form-control" formControlName="column">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label>Attribute Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group col-xs-6">
                  <label>Type</label>
                  <select class="form-control" formControlName="type" (change)="onChange($event)">
                    <option *ngFor="let t of types" value={{t.name}}>
                      {{t.name}}
                    </option>
                  </select>
                  <div [ngSwitch]="tag">
                    <div *ngSwitchCase="'TextField'">
                      <div class="form-group col-xs-6">
                        <label>Key font size:</label>
                        <input type="number" class="form-control" formControlName="keyFontSize">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key font family:</label>
                        <select class="form-control" formControlName="keyFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Value font size:</label>
                        <input type="number" class="form-control" formControlName="valueFontSize">
                        <label>Value font family:</label>
                        <select class="form-control" formControlName="valueFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key color:</label>
                        <input class="form-control" formControlName="keyColor" type="color" />
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Value color:</label>
                        <input class="form-control" formControlName="valueColor" type="color" />
                      </div>
                    </div>
                    <div *ngSwitchCase="'NumberField'">
                      <div class="form-group col-xs-6">
                        <label>Key font size:</label>
                        <input type="number" class="form-control" formControlName="keyFontSize">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key font family:</label>
                        <select class="form-control" formControlName="keyFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Value font size:</label>
                        <input type="number" class="form-control" formControlName="valueFontSize">
                        <label>Value font family:</label>
                        <select class="form-control" formControlName="valueFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key color:</label>
                        <input class="form-control" formControlName="keyColor" type="color" />
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Value color:</label>
                        <input class="form-control" formControlName="valueColor" type="color" />
                      </div>
                    </div>
                    <div *ngSwitchCase="'FloatField'">
                      <div class="form-group col-xs-6">
                        <label>Key font size:</label>
                        <input type="number" class="form-control" formControlName="keyFontSize">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key font family:</label>
                        <select class="form-control" formControlName="keyFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Value font size:</label>
                        <input type="number" class="form-control" formControlName="valueFontSize">
                        <label>Value font family:</label>
                        <select class="form-control" formControlName="valueFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key color:</label>
                        <input class="form-control" formControlName="keyColor" type="color" />
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Value color:</label>
                        <input class="form-control" formControlName="valueColor" type="color" />
                      </div>
                    </div>
                    <div *ngSwitchCase="'BooleanField'">
                      <div class="form-group col-xs-6">
                        <label>Key font size:</label>
                        <input type="number" class="form-control" formControlName="keyFontSize">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key font family:</label>
                        <select class="form-control" formControlName="keyFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key color:</label>
                        <input class="form-control" formControlName="keyColor" type="color" />
                      </div>
                    </div>
                    <div *ngSwitchCase="'ImageField'">
                      <div class="form-group col-xs-6">
                        <label>Width:</label>
                        <input type="number" class="form-control" formControlName="width">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Height:</label>
                        <input type="number" class="form-control" formControlName="height">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key font size:</label>
                        <input type="number" class="form-control" formControlName="keyFontSize">
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key font family:</label>
                        <select class="form-control" formControlName="keyFontFamily">
                          <option value="sans-serif">sans-serif</option>
                          <option value="sans-serif-light">sans-serif-light</option>
                          <option value="sans-serif-condensed">sans-serif-condensed</option>
                          <option value="sans-serif-thin">sans-serif-thin</option>
                          <option value="sans-serif-medium">sans-serif-medium</option>
                        </select>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Key color:</label>
                        <input class="form-control" formControlName="keyColor" type="color" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          Add another display template element
          <button (click)="addDisplayTemplateElement()">+</button>
        </div>
        <div class="margin-20">
          <button type="submit" (click)="sendRequest(myForm)" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          {{success}}
        </div>
      </form>
    </div>
  </div>
</div>