.menucolor{

    background: #ffa751;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffa751);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffa751); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.home{
    width: 10%;
    height: 10%;
}

