<nav class="navbar fixed-top row navbar-light bg-light menucolor">
    <nav class="col-7">
      <a class="navbar-brand" href="#"><img src="/assets/images/Home.png" alt="Home" class="home"></a>
    </nav>
    <nav class="col-5">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" ><app-login></app-login> </a>
        </li>
      </ul>
    </nav>
</nav>




