<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <app-landing-page-menu></app-landing-page-menu>
</div>
<br>
<br>
<br> 
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-2">
      </div>
      <div class="col-6">
          <h1>Merx</h1>
      </div>
      <div class="col-3">
          <br>
          <br>
          <p class="download">Download App <span class="fa fa-angle-double-right"></span></p>
            
      </div>
      <div class="col-1">
          <ul>
              <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
          
            </ul> 

      </div>
  </div>
</div>  
<br>
<div>
  <app-map></app-map>
</div>


