/*title*/
h1 {
	display: inline;
	position: relative;
	font: 100px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(100,0,255,0.5); 
}

h1:after {
	content: "Merx";
	position: absolute; left: 4px; top: 2px;
	color: rgba(205,10,12,0.5);   
}

/*Android logo*/
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    
}
ul li{
list-style: none;
margin: 0 40px;
}
ul li .fa{
font-size: 40px;
color: #000000;
line-height: 80px;
transition: .5s;
}
ul li a{
position: relative;
display: block;
width: 80px;
height: 80px;
background-color: rgb(243, 152, 152);
text-align: center;
transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
transition: .5s;
box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul li a::before{
content: "";
position: absolute;
top: 10px;
left: -20px;
height: 100%;
width: 20px;
background: #eba7a7;
transition: .5s;
transform: rotate(0deg) skewY(-45deg);
}
ul li a::after{
content: "";
position: absolute;
top: 80px;
left: -11px;
height: 20px;
width: 100%;
background: #f8b8b8;
transition: .5s;
transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa{
color: #fff;
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover:nth-child(1) a{
    background: #dd4b39;
}

ul li:hover:nth-child(1) a:before{
    background: #c13929;
}
ul li:hover:nth-child(1) a:after{
    background: #e83322;
}

/*Download message*/
.download {
    font: 30px Helvetica, Sans-Serif;
    letter-spacing: -3px;
    color: rgba(100,0,255,0.5); 
    animation: shake 3s cubic-bezier(.36,.07,.19,.97)  infinite ;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



