
<div class="container">
  <div class="row">
      <div class="col-3">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <div class = "inner-cutout"> 
          <h1 class="knockout">Vendors</h1>
        </div>

        <br>
        <br>

        <ul *ngFor="let vendor of vendors">
          <li>
            <div class="container">
              <div class="row">
                  <div class="col-8">
                    <a routerLink =  "{{ vendor.route }}"  >{{ vendor.name }}</a>  
                  </div>   
                  <div class="col-1">
                      <span (click)="deleteVendor()" class="fa fa-trash"></span>
                  </div>
                  <div class="col-5">
                  </div>    
                </div> 
            </div> 
          </li>
          <router-outlet name="vendor"></router-outlet>
        </ul>

      </div>
      <div class="col-9">
      </div>
  </div> 
</div>
	
