ul {
    list-style-type: none;
    text-align: left;
}

.inner-cutout {
    margin: 2%;
    height: 60px;
  }
  
  .knockout {
    vertical-align: middle;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 50pt;
    color: blue;
    color: #fff;
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 30% 50%;
    }
    50% {
      background-position: 25% 50%;
    }
    100% {
      background-position: 30% 50%;
    }
  }
  @keyframes Gradient {
    0% {
        background-position: 30% 50%;
      }
      50% {
        background-position: 25% 50%;
      }
      100% {
        background-position: 30% 50%;
      }
  }
  

  