<div>
  <app-admin-menu></app-admin-menu>
</div>
<div class="page-header title">
  <h1>Merx</h1>
</div>
<div>
  <app-list-vendors></app-list-vendors>
</div>
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-3">
        <div class="new-vendor-button">
          <a routerLink = "new-vendor"><button class="btn btn-primary">New vendor
            <span class="fa fa-plus"></span>
          </button></a>
        </div>

      </div>
      <div class="col-9">
      </div>  
  </div> 
</div>
      
